<% if(typeof error!= ""){%>
    <div class="errs">
        <h3><%= error %></h3>
      </div>
<%} %> 

<% if(typeof success_msg!= ""){%>
    <div class="errs">
        <h3><%= success_msg %></h3>
      </div>
<%} %> 